<div class="login-container d-flex align-items-center justify-content-center">
  <div class="col-lg-5 col-md-7 col-sm-9">
    <div class="card shadow-lg border-0 rounded-lg">
      <div class="card-header text-center">
        <h3 class="font-weight-light my-4">Bienvenido a Dentali</h3>
      </div>
      <div class="card-body">
        <!-- 1. Vinculamos el formulario con el FormGroup y el evento de envío -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

          <!-- Mensaje de error general del login -->
          <div *ngIf="loginError" class="alert alert-danger" role="alert">
            {{ loginError }}
          </div>

          <div class="form-floating mb-3">
            <!-- 2. Conectamos el input con el formControlName -->
            <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com" formControlName="username" />
            <label for="inputEmail">Usuario</label>
            <!-- 4. Bloque para mostrar errores de validación del email -->
            <div *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)" class="text-danger small mt-1">
              <div *ngIf="loginForm.get('username')?.errors?.['required']">El correo es requerido.</div>
              <div *ngIf="loginForm.get('username')?.errors?.['username']">El formato del correo no es válido.</div>
            </div>
          </div>
          <div class="form-floating mb-3">
            <!-- 2. Conectamos el input con el formControlName -->
            <input class="form-control" id="inputPassword" type="password" placeholder="Contraseña" formControlName="password" />
            <label for="inputPassword">Contraseña</label>
            <!-- 4. Bloque para mostrar errores de validación de la contraseña -->
            <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="text-danger small mt-1">
              <div *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es requerida.</div>
            </div>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
            <label class="form-check-label" for="inputRememberPassword">Recordar contraseña</label>
          </div>
          <div class="d-grid mt-4 mb-0">
            <!-- 3. Cambiamos el enlace por un botón de submit -->
            <button class="btn btn-primary btn-lg" type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>
          </div>
        </form>
      </div>
      <div class="card-footer text-center py-3">
        <div class="small"><a href="#">¿Olvidaste tu contraseña?</a></div>
      </div>
    </div>
  </div>
</div>