<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Lista de Usuarios</h2>
    <button class="btn btn-primary" [routerLink]="['/usuarios/crear']">
      Crear Nuevo Usuario
    </button>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.username }}</td>
        <td>
          <button class="btn btn-sm btn-warning me-2" [routerLink]="['/usuarios/editar', usuario.id]">
            Editar
          </button>
          <button class="btn btn-sm btn-danger" (click)="eliminarUsuario(+usuario.id)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>